.timer {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 20px;
  background-color: grey;
}

.value {
  font-weight: bold;
  color: black;
}

.red {
  color: red;
}

.label {
  text-transform: uppercase;
}

input {
  font-size: 30px;
  padding: 20px;
}

button {
  font-size: 30px;
  padding: 20px;
}
